* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(145, 170, 145);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  box-shadow: 20px 20px 50px #748a6e;
}

::selection {
  background-color: #198754;
  color: white;
}

.form-control {
  border: 2px solid #198754;
}

.form-control:focus {
  box-shadow: 0 0 5px 1px #198754;
  border: 2px solid #198754;
}

.form-range::-webkit-slider-runnable-track {
  background-color: white;
}
.form-range::-moz-range-track {
  background-color: white;
}
.form-range::-ms-track {
  background-color: white;
}

.form-range::-webkit-slider-thumb {
  background: #198754;
  width: 22px;
  height: 22px;
  transform: translateY(-3px);
}

.form-range::-moz-range-thumb {
  background: #198754;
  width: 22px;
  height: 22px;
  transform: translateY(-3px);
}

.form-range::-ms-thumb {
  background: #198754;
  width: 22px;
  height: 22px;
  transform: translateY(-3px);
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #1987547a;
}
.form-range:focus::-moz-range-thumb {
  box-shadow: 0 0 3px 3px #198754;
}
.form-range:focus::-ms-thumb {
  box-shadow: 0 0 3px 3px #198754;
}

.form-check-input {
  min-width: 40px;
  height: 22px;
  transform: translateY(-3px);
  margin-right: 10px;
}

.form-check-input:hover {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}
.form-check-input:focus {
  box-shadow: none;
  border: none;
}
